h1{
    color:white ;
    border: 5px, solid;
    border-color:black;
    background-color: crimson;
    padding:40px;
    font-family:sans-serif;
}
body{
    background-color: rgb(238, 225, 225);
}

.col-md-4{
    background-color: crimson;
    color: white;
    border: 5px, solid;
    border-color: black;
}

h2{
    color: black;
}