h1{
    color:white ;
    border: 5px, solid;
    border-color:black;
    background-color: crimson;
    padding:40px;
    font-family:sans-serif;
}
body{
    background-color: white;
}

.col-md-4{
    background-color: crimson;
    color: white;
    border: 5px, solid;
    border-color: black;
}

h2{
    color: black;
}

@media(max-width: 650px) {
    body {
        background-color: gray;
    }
    .col-md-4{
        background-color: whitesmoke;
        color: green;
        font: solid;
        border: 5px, solid;
        border-color: black;
    }
    h1{
        color:greenyellow;
        border: 5px, solid;
        border-color:black;
        background-color: white;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

}